{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>encrypter</title>
<!--    указываем ссылку на css file-->
    <link rel="stylesheet" href="{% static 'RegAndAuth/css/encrypter.css' %}">
</head>
<body>
    <h1>Шифр Виженера</h1>
<div id="wrapper">
   <form id="EncrypterUI" enctype="multipart/form-data" method="POST" action="Encr">
       {% csrf_token %}
       <input value='{{username}}' type="text" id="Log" name="Log" placeholder="Введите свой логин: " />
       <input value='{{password}}' type="password" id="pass" name="pass" placeholder="Введите свой пароль: " />
       <input type="text" id="mes" name="mes" value="{{mes}}" placeholder="Введите своё сообщение: " />
       <input type="text" id="key" name="key" value="{{key}}" placeholder="Введите свой ключ: " />
       <input type="text" id="result" name="result" value="{{result}}" placeholder="Результат: " />
       {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <br {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</br>
                {% endfor %}
            </ul>
        {% endif %}
       <button type="submit" id="butt">Вычислить</button>
  <div id="buttons">
    <input type="radio" id="encrRB" name="RB" value="Encrypt" checked> <label id="encrRBl" for="encrRB">Зашифровать</label>
    <input type="radio" id="decrRB" name="RB" value="Decrypt" > <label id="decrRBl" for="decrRB">Дешифровать</label>
  </div>
       <input type="file" name="chosenFile" id="chosenFile">
   </form>
</div>
<form action="http://127.0.0.1:8000/CheckMessages/">
    <button id="toAuthorize" type="submit">Посмотреть сообщения</button>
</form>
<form action="http://127.0.0.1:8000">
    <button id="Exit" type="submit">Выход</button>
</form>
</body>
</html>
