*{
font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
background: rgb(52, 56, 61);
padding: 80px;
}
#toAuthorize1{
background: rgb(28, 30, 33);
display: block;
position: absolute;
width: 152px;
height: 52px;
color: rgb(52, 56, 61);
border-radius: 50px;
outline: 0;
z-index: 2;
top: 300px;
right: 1300px;
border: 6px solid rgb(52, 56, 61);
font-size: 17px;
text-indent: 0px;
padding-left: 9px;
padding-bottom: 3px;
text-align: center;
}
#toAuthorize1:hover{
color: rgb(0, 126, 165);
text-shadow: 0 0 10px rgb(0, 126, 165);
cursor: pointer;
}
h1{
color: rgb(255, 255, 255);
position: absolute;
margin-left: -65px;
margin-bottom:-190;
text-align: center;
}
#buttons{
position: absolute;
width: 320px;
left: 50%;
margin-left: -150px;
top: 40%;
margin-top: 160px;
}
#wrapper{
position: absolute;
width: 320px;
left: 50%;
margin-left: -750px;
top: 40%;
margin-top: -145px;
}
.messages{
color: rgb(255, 85, 97);
font-weight: 700;
font-size: 15px;
margin-left:27px;
margin-top:55px;
}
/* === Encrypter/Decrypter form === */
#EncrypterUI {
height: 90px;
width: 300px;
border-radius: 8px;
position: relative;
}
#EncrypterUI::before {
display: block;
position: relative;
height: 2px;
background: rgb(52, 56, 61);
content: '';
top: 44px;
margin-left: 20px;
z-index: 1;
}
#EncrypterUI input:first-of-type{
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}
#EncrypterUI input:last-of-type{
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}
#EncrypterUI input[type="text"], #EncrypterUI input[type="password"]
{
background: rgb(28, 30, 33);
box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
color: rgb(52, 56, 61);
}
#EncrypterUI input[type="text"], #EncrypterUI input[type="password"]{
position: relative;
display: block;
width: 280px;
height: 45px;
border: 0;
outline: 0;
top: -2px;
padding: 0 0 0 20px;
font-weight: 700;
}
#EncrypterUI input[type="text"]:focus, #EncrypterUI input[type="password"]:focus{
color: rgb(255, 255, 255);
}
#Exit1{
background: rgb(28, 30, 33);
display: block;
position: absolute;
width: 152px;
height: 52px;
color: rgb(52, 56, 61);
border-radius: 50px;
outline: 0;
z-index: 2;
top: 246px;
right: 1370px;
border: 6px solid rgb(52, 56, 61);
font-size: 17px;
text-indent: 0px;
padding-left: 9px;
padding-bottom: 3px;
text-align: center;
}
#Exit1:hover{
color: rgb(0, 126, 165);
text-shadow: 0 0 10px rgb(0, 126, 165);
cursor: pointer;
}
#butt{
background: rgb(28, 30, 33);
display: block;
position: absolute;
width: 152px;
height: 52px;
color: rgb(52, 56, 61);
border-radius: 50px;
outline: 0;
z-index: 2;
top: 90px;
right: 5px;
border: 6px solid rgb(52, 56, 61);
font-size: 17px;
text-indent: 0px;
padding-left: 9px;
padding-bottom: 3px;
text-align: center;
}
#table{
margin-left: 350px;
margin-top: -150px;

}
#butt:hover{
color: rgb(0, 126, 165);
text-shadow: 0 0 10px rgb(0, 126, 165);
cursor: pointer;
}
#toRegistration{
text-decoration: none;
background: rgb(28, 30, 33);
display: block;
position: absolute;
width: 140px;
height: 40px;
color: rgb(52, 56, 61);
border-radius: 50px;
outline: 0;
z-index: 2;
top: 180px;
right: 0px;
border: 6px solid rgb(52, 56, 61);
font-size: 19px;
text-indent: 40px;
padding-left: 9px;
padding-bottom: 0px;
text-align: relative;
}
#toRegistration:hover{
color: rgb(0, 126, 165);
text-shadow: 0 0 10px rgb(0, 126, 165);
cursor: pointer;
}

#EncrypterUI p {
color: rgb(79, 85, 97);
padding: 0 20px;
font-weight: 700;
font-size: 12px;
margin: 5px 0 0 0;
}
#EncrypterUI p > a{
color: rgb(111, 119, 135);
text-d
